@import url('https://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700');

/*----------colors---------*/

.bg-color-details {
    background: none;
    color: #6D4399;
}

.formbg {
    background: none;
}


.bg-color-contact {
    color: #6D4399;
    background: none;
}

.submit {
    background-color: #7dff52;
    border: none;
    margin-top:5px;
    font-weight: bold;
    padding:10px;
    margin:5px 10px 0 10px;
}

.reset {
    border: none;
    background-color: #ff5050;
    margin-top:5px;
    font-weight: bold;
    padding:10px;
    margin:5px 10px 0 10px;
}

.bars {
    background-color: #6D4399;
    color: #B4B7BC;
    margin-left: 10px;
    margin-top: 10px;
    padding: 0;
    top: 0;
    display: block;
    cursor: pointer;
    z-index: 2;
    position: fixed
}

/*----------Header---------*/

header {
    margin-bottom: 0;
}

/*.navbar {
    overflow: hidden;
    background-color: #6D4399;
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    padding: 0;
    float: right;
}*/

.icons {
    display: none;
}

ul {
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
    background-color: #6D4399;

}

li {
    float: left;
    list-style: none;
}

li a {
    display: block;
    color: #B4B7BC;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #B4B7BC;
}

li a:hover {
    color: white;
    background-color: #6D4399;
}

.active {
    background-color: #B4B7BC;
    color: #6D4399;
}


/*----------body---------*/

body {
    top: 20px;
    background-image: url("../images/balletshoes.jpg");
    background-size: 100%;
    font-family: "Exo", sans-serif;
}

.logo {
    background: #6D4399;
    background-image: url("../images/reginalogo3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    top: 0;
    width: 100%;
    position: fixed;
    height: 150px;
    padding: 0;
    margin: 0;
    z-index: 1;
}


.row {
    margin-left: 25px;
    margin-right: 25px;

}

.layout {
    z-index: -1;
}

.paragraph {
    margin: 10px 0;
    text-align: justify;
    text-justify: inter-word;
    font-family: "Exo", Times, serif;
    font-size: 10px;
    font-weight: 500;
    z-index: -1;
}


/*----------Footer---------*/

footer {
    background: #6D4399;
    color: #6D4399;
    padding-bottom: 10px;
    margin: 0;
    text-align: center;
    height: 50px;
    position: fixed;
    width: 100%;
    bottom: 23px;
}

.footermessage {
    background-color: #B4B7BC;
    margin: 0;
    height: 50px;
    padding: 0px;
}

.infobutton {
    background-color: #B4B7BC;
    font-size: 20px;
    color: #6D4399;
    margin: 0;
    margin-top: 5px;
    padding: 0;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.infobutton:hover {
    color: white;
}

/*----------Tables---------*/

table th {
    background: #6D4399;
    color: white;
    border: solid;
    border-color: #6D4399;
    text-align: center;
}

table td {
    border: solid;
    color: black;
    border-color: #6D4399;
}

#formstyle {
    width: 50%;
    display: inline-block;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

.form-row {
    margin-top: 5px;
}

/*----------General---------*/

.headers {
    font-weight: 800;
    font-family: "Exo", sans-serif;
    text-align: center;
    text-decoration: underline;
}

.heading {
    font-weight: 600;
    font-family: "Exo", sans-serif;
    text-align: center;
    margin-top: 10px;
    font-size: 40px;

}

.headerstyle {
    font-weight: 700;
    font-family: "Exo", sans-serif;
    text-align: center;
    margin-bottom: 15px;
}

.testhead {
    font-weight: 600;
    font-family: "Exo", sans-serif;
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    text-decoration: underline;
}


.container-fluid1 {
    padding: 0;
    margin-top: 150px;
    margin-bottom: 80px;
    height: 100%;
    width: 100%;
}

.contact-heading {
    margin: 25px 0;
}

.gallery {
    width: 100%;
    text-align: center;
}

.news {
    z-index: -1;
    font-weight: 600;
    text-align: center;
    margin: 10px 0 20px 0px;
}

.newsheader {
    margin-top: 10px;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    color: #696969;
}

.bordernews {
    border-style: solid;
    border-width: 1px;
    font-weight: 600;
}

/*----------Testimonials---------*/

.testimonials {
    padding: 0;
    margin: 5px;
    width: 100%;
    text-align: justify;
    z-index: -1;
    font-weight: 600;
    font-family: "Exo", sans-serif;
}

.image {
    width: 200px;
    height: 200px;
    margin: 5px 80px;
}

/*----------Media Queries---------*/

@media screen and (max-width: 767px)
/* Mobile */

    {

    ul {
        font-size: 8px;
    }

    nav ul a {
        margin-right: 60%;
        display: inline-block;
    }

    .fontsize {
        font-size: 10px;
        margin-bottom: 25px;
        text-align: justify;
        margin-right: 10px;
    }

    .footermessage {
        font-size: 15px;
    }

    .center {
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 50%;
    }

    .table {
        border: solid;
        width: 90%;
        height: 100%;
        color: black;
        border-color: #6D4399;
        margin-left: 10%;
        margin-right: 10%;
        background-color: #B4B7BC;
        overflow: auto;
        font-size: 10px;
    }

    .responsive {
        overflow: auto;
        height: 100%;
        width: 340px;
        margin: 0;

    }

    .picdimensions {
        width: 200px;
        height: 150px;
    }

    .parastyle {
        font-size: 15px;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #6D4399;
        position: fixed;
        top: 25px;
        width: 35%;
        height: 300px;
        padding: 0;
        float: right;
        transform: translateX(-100%);
        transition: transform 1s ease-in-out;
        z-index: 2;
    }

    .navbar-active {
        transform: translateX(0);
    }

    #formstyle {
        width: 80%;
        display: inline-block;
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
    }

    .textsize {
        font-size: 15px;
    }


}

@media screen and (min-width: 768px) and (max-width: 991px)
/* Tablet */

    {

    ul {
        font-size: 10px;
    }

    .bars {
        display: none;
    }

    nav ul a {
        margin-right: 25%;
        display: inline-block;
    }

    .gallery {

        width: 49%;
        text-align: center;
    }

    .testimonials {
        padding: 0;
        margin: 1px;
        /*width: 100%;*/
        text-align: justify;
        z-index: -1;
        font-weight: 600;
        font-family: "Exo", sans-serif;
    }

    .image {
        width: 300px;
        height: 250px;
        margin: 10px;
        align-items: center;
    }

    .center {
        width: 60%;
        display: block;
        margin: 5px 20% 5px 20%;
        height: 50%;
        text-align: center;
    }

    .fontsize {
        font-size: 20px;
        margin-bottom: 20px;
        margin-right: 10px;
        text-align: justify;
    }

    .newsheader {
        margin-top: 10px;
        text-align: center;
        text-decoration: underline;
        font-weight: bold;
        color: #191970;
        font-size: 30px;
    }

    .table {
        border: solid;
        width: 100%;
        height: 100%;
        color: black;
        border-color: #6D4399;
        margin-left: 10%;
        margin-right: 10%;
        background-color: #B4B7BC;
        overflow: auto;
    }

    .responsive {
        overflow: auto;
        height: 100%;
        width: 660px;
        margin-left: 10px;
        margin-right: 10px;

    }

    .picdimensions {
        width: 300px;
        height: 200px;
    }

    .paragraph {
        margin: 10px 0;
        text-align: justify;
        text-justify: inter-word;
        font-family: "Exo", Times, serif;
        font-size: 20px;
        font-weight: 500;
        z-index: -1;
    }

    .navbar {
        overflow: hidden;
        background-color: #6D4399;
        position: fixed;
        top: 150px;
        width: 100%;
        height: 90px;
        padding: 0;
        float: right;
        z-index: 2;
    }

    .container-fluid1 {
        padding: 0;
        margin-top: 250px;
        margin-bottom: 80px;
        height: 100%;
        width: 100%;
    }

    header {
        margin-bottom: 90px;
    }

    .testhead {
        text-align: left;
    }
}

@media screen and (min-width: 992px)
/* Desktop */

    {
    .bars {
        display: none;
    }


    .gallery {
        margin: 1px;
        text-align: center;
        width: 32%;

    }

    .testimonials {
        padding: 0;
        margin: 1px;
        width: 100%;
        text-align: justify;
        z-index: -1;
        font-weight: 600;
        font-family: "Exo", sans-serif;
    }

    .image {
        width: 500px;
        height: 500px;
        margin: 10px;

    }

    .center {
        width: 600px;
        display: block;
        margin: 10px 30px 10px 60px;
        height: 300px;
        text-align: center;

    }

    .fontsize {
        font-size: 25px;
        margin-bottom: 10px;
        text-align: justify;
        margin-right: 10px;
    }

    .newsheader {
        margin-top: 10px;
        text-align: left;
        text-decoration: underline;
        font-weight: bold;
        color: #6D4399;
        font-size: 40px;
    }

    .table {
        border: solid;
        width: 100%;
        height: 100%;
        color: black;
        border-color: #6D4399;
        background-color: #B4B7BC;
        overflow: auto;
    }

    .responsive {
        overflow: auto;
        height: 100%;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;

    }

    .picdimensions {
        width: 450px;
        height: 350px;

    }

    .paragraph {
        margin: 10px 0;
        text-align: justify;
        text-justify: inter-word;
        font-family: "Exo", Times, serif;
        font-size: 23px;
        font-weight: 500;
        z-index: -1;
    }

    .navbar {
        overflow: hidden;
        background-color: #6D4399;
        position: fixed;
        top: 150px;
        width: 100%;
        height: 90px;
        padding: 0;
        float: right;
        z-index: 2;
    }

    .container-fluid1 {
        padding: 0;
        margin-top: 250px;
        margin-bottom: 80px;
        height: 100%;
        width: 100%;
    }

    header {
        margin-bottom: 90px;
    }

    .testhead {
        text-align: left;
    }

}
