@import url('https://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700');

/*----------Header---------*/

header {
    background: #6D4399;
    background-image: url("../images/reginalogo2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 150px;
    position: relative;
}

button {
    margin-top: 120px;
    position: relative;
    padding: 0;
    background-color:#B4B7BC; 
    font-size: 15px;
    width: 40px;
    height: 30px;
}

.bar-icon {
    margin: 5px 3px;
    word-spacing: 2em;
    padding: 0;
}

.navcenter {
    background-color: #B4B7BC;
    /*margin-right:50%;*/
    text-transform: uppercase;
    line-height: 50px;
    bottom: 100px;
    display: block;
    word-spacing: normal;
}

nav ul a {
    color: #6D4399;
    font-size: medium;
    font-weight: bold;
    /*margin-right: 30px;*/
}

nav ul .icon {
    margin-right: 10px;
}


nav ul a:hover {
    background-color: #6D4399;
    color: #B4B7BC;
}

/*----------Media Queries---------*/

@media screen and (max-width: 500px)
/* Mobile */

    {
    body {
        background: #B4B7BC;
    }
    nav ul a {
        margin-right: 60%;
        display: inline-block;
    }
}

@media screen and (min-width: 501px) and (max-width: 979px)
/* Tablet */

    {
    body {
        background: #B4B7BC;
    }
    nav ul a {
        margin-right: 25%;
        display: inline-block;
    }
}

@media screen and (min-width: 980px)
/* Desktop */

    {
    body {
        background: white;
    }
}
